#canvas {
    margin-top:50px;
}
#canvas-tool {
    border-radius: 5px;
    border: 1px dashed #1d1e209a;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}
.idle {
    cursor: url(../cursors/jirachi_1.png), default;
    -webkit-animation: cursorDefault 350ms infinite;
    animation: cursorDefault 350ms infinite;
}
@-webkit-keyframes cursorDefault {
  0% {cursor: url(../cursors/jirachi_1.png), default;}
  50% {cursor: url(../cursors/jirachi_2.png), default;}
} 
@keyframes cursorDefault {
  0% {cursor: url(../cursors/jirachi_1.png), default;}
  50% {cursor: url(../cursors/jirachi_2.png), default;}
}
.drawing {
    cursor: url(../cursors/jirachi_s_1.png), pointer;
    -webkit-animation: cursorPointer 350ms infinite;
    animation: cursorPointer 350ms infinite;
}
@-webkit-keyframes cursorPointer {
    0% {cursor: url(../cursors/jirachi_s_1.png), pointer;}
    50% {cursor: url(../cursors/jirachi_s_2.png), pointer;}
} 
@keyframes cursorPointer {
    0% {cursor: url(../cursors/jirachi_s_1.png), pointer;}
    50% {cursor: url(../cursors/jirachi_s_2.png), pointer;}
}

#canvas-warning {
    color: gray;
}
#tools label, #tools input, #tools button {
    display: inline;
    vertical-align: middle;
}
#tools input {
    margin-left: 3px;
}
#tools {
    padding: 15px 0 15px 0;
    width: 100%;
}

.canvas-button {
    border-radius: 5px;
    color: var(--text-color);
    background-color: #b6b6b660 !important;
    padding: 3px 8px;
    border: none;
    transition: background-color 0.2s;
}
.canvas-button:hover {
    background-color: #b6b6b696 !important;
    cursor: pointer;
}

#color-change {
    margin-right: 10px;
}

#clear-canvas {
    float: right;
    transition: 0.3s;
}

#save-canvas {
    text-decoration: none;
    float: right;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    transition: background-color 0.2s, color 0.1s;
}
#save-canvas:hover {
    background-color:#74f8d9 !important;
    color: black !important;
    cursor: pointer;
}

/* line width slider */
#thickness {
    margin-right: 15px;
}
.slider {
    -webkit-appearance: none;
    width: 150px;
    height: 7px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 3px solid var(--background-color);
    border-radius: 100%; 
    background: #52d1b3;
    cursor: pointer;
    transition: background 0.2s;
}
.slider::-webkit-slider-thumb:hover {
    background: #74f8d9;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 3px solid var(--background-color);
    border-radius: 100%;
    background: #52d1b3;
    cursor: pointer;
    transition: background 0.2s;
}
.slider::-moz-range-thumb:hover {
    background: #74f8d9;
}

/* custom checkbox */
/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
    opacity: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -5;
    left: 0;
    height: 25px;
    width: 55px;
    border-radius: 3px;
    background-color: #f89f9b;
    box-shadow: 2px 2px 0px 2px #af5450;
    text-align: center;
}
.checkbox-container input ~ .checkmark {
    transition: background-color 0.2s;
}
.checkbox-container:hover input ~ .checkmark {
    background-color: #fcb5b1 !important;
}
.checkbox-container input:checked ~ .checkmark {
    background-color: #f89f9b;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:not(:checked) ~ .checkmark::before {
    position: relative;
    top: 1px;
    content: "erase";
}
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container .checkmark:after {
    left: 23px;
    top: 3.5px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}