#music {
    margin-top:60px;
}
.thumbnail {
    width:100%;
    border-radius: 5px;
}
.music-entry {
    position: relative;
    margin-bottom: 3px;
}
.music-entry:hover {
    cursor: pointer;
}
.music-entry > img {
    transition: filter 0.2s;
}
.music-entry:hover > img {
    filter: blur(2px) brightness(0.4);
}
.music-label {
    font-size: 15px;
    color: white !important;
    text-align: center;

    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease-out, opacity 0.3s;
}

.music-entry:hover > .music-label {
    visibility: visible;
    opacity: 1;
}